
@{
    ViewBag.Title = "ForgottenPasswordVerificationCode";
}

<h3>@ViewBag.Error</h3>


<h4>Enter Verification Code Here</h4>

@using (Html.BeginForm("CheckForgottenPasswordVerificationCode", "UserLogins", FormMethod.Post))
{
    <input type="text" name="Code" />

    <input type="submit" name="Send" />


}


